# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and should not be part of version control
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore any .terraformrc files
.terraformrc
tf.rc

# Ignore tfvars files as they might contain sensitive data
*.tfvars
.terraform/providers/